Ultrapowa Royale Server/obj/
packages/
ucspackages/
.vs/Ultrapowa Royale Server/v14/.suo
*.scgdat
*.log
*.pdb
Ultrapowa Royale Server/bin/Debug/Ultrapowa Royale Server.exe.manifest
*.manifest
Ultrapowa Royale Server/bin/Debug/Ultrapowa Royale Server.vshost.application
Ultrapowa Royale Server/bin/Debug/Ultrapowa Royale Server.application
*.application
Ultrapowa Royale Server/bin/Debug/Ultrapowa Royale Server.vshost.exe.manifest
Ultrapowa Royale Server/bin/Debug/Ultrapowa Royale Server.exe.manifest
*.vshost
Ultrapowa Royale Server/bin/Release/
Ultrapowa Royale Server/bin/Debug/logs/*
Ultrapowa Royale Server/bin/Debug/patch/*
*.cache